h1
  {
   color: chocolate;
  }
  #div
     {
        color: blue;
     }
     p
     {
        color: darkgoldenrod;
     }
     .heading
      {
        color:yellowgreen;
      }
     #first,#second
      {
        color: darkseagreen;
      }